<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>DEAXIOM</title>

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Teko:wght@400;500;600&display=swap" rel="stylesheet">

    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet" />

    @Styles.Render("~/bundles/libEffectByCSS")
    @Styles.Render("~/Content/css")

    <style>
        body {
            background-color: #F7EFEC;
        }
    </style>

</head>
<body>
    <!--<div class="container-fluid bg-dark p-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center py-3 me-3">
                    <img class="me-3" src="~/Content/img/logo2.jpg" alt="Icon" />-->
    @*<a class="text-body px-2" href="tel:+0123456789"><i class="fa fa-phone-alt text-primary me-2"></i>+44 111 1111</a>*@
    <!--<a class="text-body px-2" href="mailto:info@deaxiom.com"><i class="fa fa-envelope-open text-primary me-2"></i>info@deaxiom.com</a>
        </div>
    </div>
    <div class="col-lg-5 px-5 text-end">
        <div class="h-100 d-inline-flex align-items-center py-3 me-2">
            <a class="text-body px-2" href="">Terms</a>
            <a class="text-body px-2" href="">Privacy</a>
        </div>-->
    @*<div class="h-100 d-inline-flex align-items-center">
            <a class="btn btn-sm-square btn-outline-body me-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-sm-square btn-outline-body me-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-sm-square btn-outline-body me-1" href=""><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-sm-square btn-outline-body me-0" href=""><i class="fab fa-instagram"></i></a>
        </div>*@
    <!--</div>
        </div>
    </div>-->
    <!-- Navbar Start -->
    <div class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s" style="background-color: #F7EFEC !important;">
        <a href="/" class="navbar-brand ms-4 ms-lg-0">
            <img class="me-3" src="~/Content/img/logo.png" alt="Icon" />
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/" class="nav-item nav-link">Home</a>
                <a href="~/Home/About" class="nav-item nav-link">About Us</a>
                <div class="nav-item dropdown">
                    <a href="~/Products" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Products</a>
                    <div class="dropdown-menu border-0 m-0">
                        <a href="javascript:void()" class="dropdown-item" onclick="Goto(1);">Carpets</a>
                        <a href="javascript:void()" class="dropdown-item" onclick="Goto(2);">LVT</a>
                        <a href="javascript:void()" class="dropdown-item" onclick="Goto(3);">Tiles</a>
                    </div>
                </div>
                <a href="~/Home/Export" class="nav-item nav-link">Export</a>
                <a href="~/Home/Information" class="nav-item nav-link">Information</a>
                <a href="~/Home/Contact" class="nav-item nav-link">Contact Us</a>
            </div>
            @*<a href="" class="btn btn-primary py-2 px-4 d-none d-lg-block">Appointment</a>*@
        </div>
    </div>
    <!-- Navbar End -->

    <div>
        @RenderBody()
        <hr />
        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-body footer pt-5 px-0 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h3 class="text-light mb-4">Address</h3>
                        <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>7 Prospecthill Road </p>
                        <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>Motherwell, ML1 2UE</p>
                        @*<p class="mb-2"><i class="fa fa-phone-alt text-primary me-3"></i>+44 1345 67890</p>*@
                        <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>info@diaxiom.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-square btn-outline-body me-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-body me-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-body me-1" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-square btn-outline-body me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    @*<div class="col-lg-3 col-md-6">
                            <h3 class="text-light mb-4">Services</h3>
                            <a class="btn btn-link" href="">Architecture</a>
                            <a class="btn btn-link" href="">3D Animation</a>
                            <a class="btn btn-link" href="">House Planning</a>
                            <a class="btn btn-link" href="">Interior Design</a>
                            <a class="btn btn-link" href="">Construction</a>
                        </div>*@
                    <div class="col-lg-3 col-md-6">
                        <h3 class="text-light mb-4">Quick Links</h3>
                        <a class="btn btn-link" href="">About Us</a>
                        <a class="btn btn-link" href="">Contact Us</a>
                        <a class="btn btn-link" href="">Our Services</a>
                        <a class="btn btn-link" href="">Terms & Condition</a>
                        <a class="btn btn-link" href="">Support</a>
                    </div>
                    @*<div class="col-lg-3 col-md-6">
                            <h3 class="text-light mb-4">Newsletter</h3>
                            <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                            <div class="position-relative mx-auto" style="max-width: 400px;">
                                <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                                <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="container-fluid copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a href="#">DEAXIOM</a>, All Rights Reserved.
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        <footer>
            <p>&copy; @DateTime.Now.Year - DEAXIOM, All Rights Reserved.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/lib/wow/wow.min.js"></script>
    <script src="~/Scripts/lib/easing/easing.min.js"></script>
    <script src="~/Scripts/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Scripts/lib/counterup/counterup.min.js"></script>
    <script src="~/Scripts/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Scripts/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/Scripts/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/Scripts/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>


    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
<script type="text/javascript">
    $(document).ready(function () {
        var path = window.location.pathname;
        $('.navbar-nav a').removeClass('active');
        if (path.indexOf("Products") != -1) {
            $('.navbar-nav a[href="/Products"]').addClass('active');
        }
        else {
            $('.navbar-nav a[href="' + path + '"]').addClass('active');
        }
    });

    function Goto(sel) {
        if (sel == 1) {
            window.location.href = "/Products/Carpets";
        }
        else if (sel == 2) {
            window.location.href = "/Products/LVT";
        }
        else if (sel == 3) {
            window.location.href = "/Products/Tiles";
        }
    }

</script>
</html>
